body{
  margin: 0px;
  background-color: #e8e8e8;
}
header{
  width: 1439px;
  height: 80px;
  background-color: #FFFFFF;
  margin: auto;
  border:1px dashed #000;
}
main{
  width: 1439px;
  height: 3000px;
  background-color: #FFFFFF;
  margin: auto;
  border:1px dashed #000;
}
footer{
  width: 1439px;
  height: 302px;
  background-color: #FFFFFF;
  margin: auto;
  border:1px dashed #000;
}